@import '../styles/variables';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: none;
}

@font-face {
  font-family: $font-primary;
  src: url('../assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: $font-weight-normal;
  font-style: normal;
}


body {
    font-family: $font-primary;  
    background-color: red
  }